:root {
  --sunrise-grey: #33342E;
  --sunrise-light-green: #E3EDDF;
  --sunrise-magenta: #8F0D56;
  --sunrise-orange: #FD9014;
  --sunrise-red: #EF4C39;
  --sunrise-yellow: #FFDE16;
  --sunrise-tan: #F7F5E8;
  --sunrise-font-sans: Source Sans Prop;
  --sunrise-font-serif: Source Serif Pro;
}